// banner
.banner {
  &-img {
    height: 420px;
    background: url('../images/banner.png') no-repeat center;
    background-size: cover;
  }
}

// advantage
.advantage {
  &-img {
    object-fit: cover;
  }
}

// recommend
.recommend {
  &-card {
    height: 96px;
  }
  &-translate {
    @media (min-width: 768px) {
      transform: translateX(95px);
    }
  }
}


// ship
.ship {
  &-item:nth-child(-n+3) &-icon {
    &::after {
      content: "\1F892";
      position: absolute;
      width: 40px;
      height: 40px;
      display: none;
      justify-content: center;
      align-items: center;
      left: 100%;
      bottom: 50%;
      @media(min-width: 996px) {
        display: flex;
        transform: translate(20%, 20%);
      }
      @media(min-width: 1200px) {
        transform: translate(60%, 20%);
      }
      @media(min-width: 1400px) {
        transform: translate(100%, 20%);
      }
    }
  }
  &-icon {
    width: 115px;
    height: 115px;
  }
}

// cart
.cart {
  th, td, p {
    white-space: nowrap;
  }
}

// product
.product {
  .card-decoration {
    transform: translate(6px, 8px);
  }
}

// reserve
.reserve {
  &-btn {
    max-width: max-content !important;
  }
}
