// banner
.banner {
  &-img {
    height: 420px;
    background: url('../images/banner.png') no-repeat center;
    background-size: cover;
  }
}

// ship
.ship {
  &-item:nth-child(-n+3) &-icon {
    &::after {
      content: "\1F892";
      position: absolute;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 100%;
      bottom: 50%;
      transform: translate(100%, 20%);
    }
  }
  &-icon {
    width: 115px;
    height: 115px;
  }
}